h1 {
    display: inline;
    margin-left: 1rem;
}

#portrait {
    width: 250px;
    height: 250px;
    float: left;
    border-radius: 50%;
}

#topheader {
    width: 11em;
}

#know {
    margin-left: 1rem;
}

p {
    display: inline;
}